.firstCard{
    margin:25px 25px;
    width: 350px;
    display: flex;
    justify-content: center;
    
   
}

a:hover {
    text-decoration: none;
    color: rgb(231, 114, 4);
}


.link{
    text-decoration: none;

}


.newImg{
    width: 350px;
    height: auto;
    
}

.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
}


.cardFooter{
    margin-left: -21px;
    margin-top: -20px;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    width: 350px;
    font-family: 'Pacifico', cursive;
    
}


.text{
    color: #000;
    text-decoration: none;
    margin: 20px auto;
}

.portHeader {
    font-family: 'Bebas Neue', cursive; 
    margin: 70px 0;
    font-size: 60px;
    margin-top: -30px;
}


.folio {
    color: rgb(231, 114, 4);
}


.cardContainer {
    padding-bottom: 3%;
    border-bottom: dashed 2px rgb(197, 197, 197); 
}