.aboutInfo {
    
    display: flex;
    justify-content: space-between;  
    padding: 3% 8%; 
    border-top: dashed 2px rgb(197, 197, 197);
    border-bottom: dashed 2px rgb(197, 197, 197); 
}

.as {
    /* width: 400px;
    height: auto; */
    padding: 5%;
}


.newHeader {
    font-family: 'Bebas Neue', cursive; 
    margin: 40px 0;
    font-size: 30px;
    
}

.aboutText {
    width: 500px;
    font-size: 23px;
}