.navbar{
    justify-content: space-between;
    margin-bottom: 60px;
    margin: 0 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    
  }

  li{
      padding: 0 20px;
      text-decoration: none;
      
  }
  .item{
      color: #000;
  }


.fa-github {
    font-size: 23px;
    margin: 0 10px;
    color: rgb(231, 114, 4);
    cursor: pointer;
    border: none;

}


.fa-github:hover {
    
    color: rgb(99, 99, 99);
}

.fa-twitter {
    font-size: 23px;
    margin: 0 10px;
    color: rgb(231, 114, 4);
    cursor: pointer;
    border: none;

}

.fa-twitter:hover {
    
    color: rgb(99, 99, 99);
}


.fa-linkedin {
    font-size: 23px;
    margin: 0 10px;
    color: rgb(231, 114, 4);
    cursor: pointer;
    border: none;
}


.fa-linkedin:hover {
    
    color: rgb(99, 99, 99);
}